<!DOCTYPE html>
<html lang="en">
	<head>
		
    <title>Diamond List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <!-- LINK TO ADD FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>
	<body>
		{{{ body 
        }}}
    <footer class="copyright">
        <br>
        <img src="/images/f.png" style="border-radius:10px">
      <img src="/images/google.png" style="width:30px" style="border-radius:30px">
      <img src="/images/twitter.png" style="border-radius:10px">
        <div style=" padding-top:25px;">
            <div class="container">
              <div class="footer-bottom clearfix" style="color:blue;width:100%; padding-bottom: 60px;">
              <p class="copyright" style="font-size:1.2rem; font-weight:bold;">
                  Contact Us | FAQ
              </li> | Diamond Services
            </p>
            <p class="copyright">&copy; Copyright 2018, Diamond Services. All Rights Reserved. | Terms of Use | Privacy Policy
            </p>
        </div>
      </div>
    </div>
  <p>&copy; All rights reserved.</p>
    </footer>
	</body>
    <script type="text/javascript" src="/js/app.js">
</script>
</html>