    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a  href="home" style="text-decoration: none !important;"><i class="w3-jumbo w3-spin fa fa-home is-size-1 is-pulled-right" style="color:black"></i></a>

            <h1 class="title is-3">Diamond Services</h1>
            <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>
        </header>


        <center>
            <h1 class="title is-3 is-danger" style="color:black">SERVICES</h1>
        </center>

        <br>
    <div class="table__wrapper">
    <table class="table is-bordered pricing__table is-fullwidth">
        <tbody>
        <tr class="title is-4 ">
            <th class='has-text-danger'>Services</th>
            <th class='has-text-danger'>Interested</th>
        </tr>
         <tr>
        <td>Lawn Mowing</td>
        <td><button class="button is-success">yes</button>
        </td>
         </tr>
         <tr>
        <td>Child care</td>
        <td><button class="button is-success">yes</button>
        </td>
         </tr>
         <tr> <td>Music Class</td>
        <td><button class="button is-success">yes</button>
        </td>
         </tr>
      
        </tbody>
     </table>
</div>
<br>
<br>
    </div>
    <center>
 <button class="button is-success title is-5" id="login" ><a  href="SignIn">LogIn</a></button>
 </center>
    <hr>
    <footer id="footer">
        <div style=" padding-top:25px;">
            <div class="container">
                <div class="footer-bottom clearfix" style="color:blue;width:100%; padding-bottom: 60px;">
                    <p class="copyright" style="font-size:1.2rem; font-weight:bold;">
                        Contact Us | FAQ
                        </li> | Diamond Service Call Center
                    </p>
                    <p class="copyright">&copy; Copyright 2018, Diamond Service. All Rights Reserved. | Terms of Use | Privacy Policy
                    </p>
                </div>
            </div>
        </div>
        <p>&copy; All rights reserved.</p>
    </footer>
