

    <div id="wrapper">
        <a  href="/" style="text-decoration: none !important;"><i class="w3-jumbo w3-spin fa fa-home is-size-1 is-pulled-right" style="color:black"></i></a>

        <!-- Header -->
        <header id="header">

            <h1 class="title is-3" id="font">Diamond Services</h1>
            <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>
        </header>


        <center>
            <h1 class="title is-5 is-danger" id="ser" style="color:black">SERVICES</h1>
        </center>

        <br>
    {{!-- <div class="table__wrapper"> --}}
    <table id="services" class="table is-bordered pricing__table is-fullwidth">
       <tbody>
        <tr class="title is-4 ">
            <th class='has-text-danger'><center>Choose your category</center></th>            
        </tr>
         <tr>
        
        <td class="link"><center><a href="services/automotives" >Automotive</a></center></td>

        </tr>
        <tr>
        <td class="link"><center><a href="services/beauty" >Beauty</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/mobile" >Cell/Mobile</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/creative" >Creative</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/event" >Event</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/gardening" >Gardening</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/household" >Household</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/labor" >Labor</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/lessons" >Lessons</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/pet" >Pet</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/real estate" >Real Estate</a></center></td>
        </tr>
        <tr>
        <td class="link"><center><a href="services/therapeutic" >Therapeutic</a></center></td>
        </tr>
        </tbody>
     </table>
    {{!-- </div> --}}
<br>
<br>
    </div>

    <center>
      <span class="title is-4" id="msg">To add new service please click here</span>  <br>    
      <br>
      <br>
 <button class="button is-success title is-5" id="login" ><a  href="/serviceForm">Add Service</a></button>
 <br>
 </center>
    <hr>
    <footer id="footer">
           <img src="images/f.png" style="border-radius:10px">
           <img src="images/google.png" style="width:30px" style="border-radius:30px">
            <img src="images/twitter.png" style="border-radius:10px">
        <div style=" padding-top:25px;">
           
         
            <div class="container">
                <div class="footer-bottom clearfix" style="color:blue;width:100%; padding-bottom: 60px;">
                    <p class="copyright" style="font-size:1.2rem; font-weight:bold;">
                        Contact Us | FAQ
                        </li> | Diamond Services Call Center
                    </p>
                    <p class="copyright">&copy; Copyright 2018, Diamond Services. All Rights Reserved. | Terms of Use | Privacy Policy
                    </p>
                </div>
            </div>
        </div>
        <p>&copy; All rights reserved.</p>
    </footer>
