  <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a  href="home" style="text-decoration: none !important;"><i class="w3-jumbo w3-spin fa fa-home is-size-1 is-pulled-right" style="color:black"></i></a>

            <h1 class="title is-3">Diamond Services</h1>
            <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>
        </header>


        <center>
            <h1 class="title is-3 is-danger" style="color:black">SERVICE FORM</h1>
        </center>

        <br>
 

{{!-- <div class="field">
  <label class="label">UserId</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="number" placeholder="Text input" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
 
</div> --}}

<div class="field">
  <label class="label" id='bName'>Business Name</label>
  <div class="control">
    <textarea class="textarea is-rounded" placeholder="Textarea"></textarea>
  </div>
</div>

<label class="label">Amount</label>
<div class="field has-addons">
    
  <p class="control">
    <span class="select">
      <select>
        <option>$</option>
      </select>
    </span>
  </p>
  <p class="control">
    <input class="input is-rounded" type="number" placeholder="Amount of money">
  </p>

</div>

<div class="field">
  <label class="label">Service Description</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="radio">
      <input type="radio" name="question">
      Yes
    </label>
    <label class="radio">
      <input type="radio" name="question">
      No
    </label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-text">Cancel</button>
  </div>
</div>
   
</div>
<br>
<br>
<hr>
<footer id="footer">
        <div style=" padding-top:25px;">
            <div class="container">
                <div class="footer-bottom clearfix" style="color:blue;width:100%; padding-bottom: 60px;">
                    <p class="copyright" style="font-size:1.2rem; font-weight:bold;">
                        Contact Us | FAQ
                        </li> | Diamond Service Call Center
                    </p>
                    <p class="copyright">&copy; Copyright 2018, Diamond Service. All Rights Reserved. | Terms of Use | Privacy Policy
                    </p>
                </div>
            </div>
        </div>
        <p>&copy; All rights reserved.</p>
</footer>