  <div id="wrapper">
        
        <!-- Header -->
        <header id="header">

            <h1 class="title is-3" id="font">Diamond Services</h1>
            <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>
        </header>

        <center>
            <h1 class="title is-3 is-danger" style="color:black">SERVICE FORM</h1>
        </center>

        <br>
 

<div class="field">
  <label class="label" id='bName'>Business Name</label>
  <div class="control">
    <textarea id="businessName" class="textarea is-rounded" placeholder="Textarea"></textarea>
  </div>
</div>

<label class="label">Cost of Service</label>
<div class="field has-addons">
    
  <p class="control">
<!--     <span class="select">
      <select>
        <option>$</option>
      </select>
    </span> -->
  </p>
  <p class="control">
    <input id="amount" class="input is-rounded" type="number" placeholder="Amount of money">
  </p>

</div>

<div class="field">
  <label class="label">Category</label>
<div class="select">
  <select id="myselect" style="width:300px;">
    <option >Select dropdown</option>
    <option value="automotives">automotives</option>
     <option value="beauty">beauty</option>
      <option value="mobile">mobile</option>
       <option value="creative">creative</option>
        <option value="event">event</option>
         <option value="gardening">gardening</option>
          <option value="household">household</option>
           <option value="labor">labor</option>
           <option value="lessons">lessons</option>
           <option value="pet">pet</option>
           <option value="real estate">real estate</option>
           <option value="therapeutic">therapeutic</option>
  </select>
</div>
</div>



<div class="field">
  <label class="label">Service Description</label>
  <div class="control">
    <textarea id="description" class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      I agree to the <a href="/terms" target="_blank">terms and conditions</a>
    </label>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="radio">
      <input type="radio" name="question">
      Yes
    </label>
    <label class="radio">
      <input type="radio" name="question"><a href="/services">No</a></label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-success" id="serviceFormSubmit">Submit</button>
  </div>
  <div class="control">
    <button id="cancel" value="Cancel"><a href="/services">Cancel</a></button>
  </div>
  <div class="control">
    <button id="clear-form" type="reload" value="Clear">Clear</button>
  </div>
  <div>
    <button class="button" style="color: white;background-color:black;width:150px; float: right; height:40px;border-radius:30px; " ><a href="/services">Go To Services List</a></button>
  </div>
</div>   
<br>
<br>
