{{!-- <div class="navbar-start">

    </div>
    <div class="navbar-end">
        <a class="navbar-item title is-4" href="index.html">
                    Home
                    </a>

        <a class="navbar-item title is-4" href="signUp.html">
                Sign Up
        </a>
    </div>
    <hr> --}}
    <!-- Wrapper -->
    <div id="wrapper">
            <a  href="/" style="text-decoration: none !important;"><i class="w3-jumbo w3-spin fa fa-home is-size-1 is-pulled-right" style="color:black"></i></a>

        <!-- Header -->
        <header id="header">
            
            <h1 class="title is-3" id="font">Diamond Services</h1>
            
            <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>
         
        </header>

        <center>
            <h1 class="title is-3 is-danger" style="color:black">Sign In</h1>
        </center>



        

<form id= "name-form">
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success has-text-white" type="email" placeholder="Text input"  name="email" value="" id="email">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
            </div>
            <p class="help">This username is available</p>
        </div>

        <div class="field">
            <label class="label ">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success has-text-white" type="password" placeholder="password" name="password" value="" id="password">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
            </div>

        </div>

        <div class="field">
            <div class="control" style="color:blue">
                <label class="checkbox">
                    <input type="checkbox" style="color:blue">
                    I agree to the terms and conditions
                  </label>
            </div>
        </div>
  

        <div class="field">
            <div class="control">
                <label class="radio">
                    <input type="radio" name="question">
                    Yes
                  </label>
                <label class="radio">
                    <input type="radio" name="question">
                    No
                  </label>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
              <form>
                        <button class="button is-success" id="login"><a href="services">SignIn</a></button>
                </form>
            </div>
            <div class="control">
                <button class="button is-text">Cancel</button>
            </div>
             
        </div>
      
        <br>
        <button class="button is-black title is-5" style="background-color:black;width:150px; border-radius:30px;" ><a  href="signUp">SignUp</a></button>
          </form>
        <br>
        <br>
    </div>
    <br>

    <br>
    <hr>
    <footer id="footer">
         <img src="images/f.png" style="border-radius:10px">
           <img src="images/google.png" style="width:30px" style="border-radius:30px">
            <img src="images/twitter.png" style="border-radius:10px">
        <div style=" padding-top:25px;">
            <div class="container">
                <div class="footer-bottom clearfix" style="color:blue;width:100%; padding-bottom: 60px;">
                    <p class="copyright" style="font-size:1.2rem; font-weight:bold;">
                        Contact Us | FAQ
                        </li> | Diamond Services Call Center
                    </p>
                    <p class="copyright">&copy; Copyright 2018, Diamond Services. All Rights Reserved. | Terms of Use | Privacy Policy
                    </p>
                </div>
            </div>
        </div>
        <p>&copy; All rights reserved.</p>
    </footer>
