
    <!-- Wrapper -->

    <div id="wrapper">
            
<!-- Header -->
    <header id="header">
            
        <h1 class="title is-3" id="font">Diamond Services</h1>
            
        <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>
         
    </header>

{{!-- Main Cointainer --}}
    <center>
        <h1 class="title is-3 is-danger" style="color:black">Sign In</h1>
    </center>
        
    <form id= "name-form">
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success has-text-white" type="email" placeholder="Text input"  name="email" value="" id="emailId">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>

            </div>
            <p class="help">Your username is your email address</p>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success has-text-white" type="password" placeholder="password" value="" id="passwordId">
                
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>

            </div>

        </div>

        <br>

        <div class="field is-grouped">
            <div class="control">
              <form>
                        <button class="button is-success" id="login"><a href="services">SignIn</a></button>
                </form>
            </div>
            <div class="control">
                <button class="button is-grey" id="cancel" value="Cancel"><a href="/">Cancel</a></button>
            </div>
             
        </div>
      
        <br>
        <h1>
        <button class="button is-black title is-5" style="background-color:black;width:150px; border-radius:30px;" ><a  href="signUp">SignUp</a></button>
        </h1>
    </form>
<br>
<br>
</div>
<br>

    <br>
    <hr>


