
    <!-- Wrapper -->
    <div id="wrapper">
            

        <!-- Header -->
        <header id="header">

            <h1 class="title is-3 is-blue" id="font">Diamond Services</h1>
            <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>

        </header>
        <center>
            <h1 class="title is-3 is-danger" style="color:silver">Sign Up</h1>
        </center>
        <br>

        <div id='form'>

            <div class="field is-horizontal">
                <div class="field" id="username">
                    <label class="label" style="color:silver">FullName</label>
                    <div class="control">
                        <input id="fullName" class="input is-success has-text-white" type="text" placeholder="Text input" value="" required>
                    </div>
                    <!-- <p class="help is-success">This username is available</p> -->
                </div>

                  <div class="field" id='phone'>
                    <label class="label" style="color:silver">Phone Number</label>
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                              +1
                            </a>
                            </p>
                            <p class="control is-expanded">
                                <input id="number" class="input is-success has-text-white" type="tel" placeholder="Your phone number">
                            </p>
                        </div>
                        <p class="help">Do not enter the first zero</p>
                    </div>
                </div>

            
            </div>

            <div class="field is-horizontal">
                <div class="field" id='address'>
                    <label class="label" style="color:silver">Address</label>
                    <div class="control has-icons-left has-icons-right">
                        <input id="add" class="input is-success has-text-white" type="text" placeholder="Text input" value="" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                          </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                    </div>
                </div>

                <div class="field" id='city'>
                    <label class="label" style="color:silver">City</label>
                    <div class="control has-icons-left has-icons-right">
                        <input id="cit" class="input is-success has-text-white" type="text" placeholder="Text input" value="" required>
                        <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field" id='state'>
                    <label class="label" style="color:silver">State</label>
                    <div class="control has-icons-left has-icons-right">
                        <input id="stat" class="input is-success has-text-white" type="text" placeholder="Text input" value="" required>
                        <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                              </span>
                        <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                    </div>
                </div>

                <div class="field" id='zip'>
                    <label class="label" style="color:silver">Zipcode</label>
                    <div class="control has-icons-left has-icons-right">
                        <p class="control is-expanded">
                            <input id="zi" class="input is-success has-text-white" type="tel" placeholder="zipcode">
                        </p>
                        <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                              </span>
                        <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field" id='email'>
                    <label class="label" style="color:silver">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input id="mail" class="input is-success has-text-white" type="email" placeholder="Email input" value="" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>

                <div class="field" id='password'>
                    <label class="label" style="color:silver">Password</label>
                    <div class="control has-icons-left">
                        <p class="control is-expanded">
                            <input id="pass" class="input is-success has-text-white" type="password" placeholder="Password" required>
                        </p>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>



        <div class="field bottom">
            <div class="control is-danger">
                <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="/terms" target="_blank">terms and conditions</a>
                  </label>
            </div>
        </div>

        <div class="field bottom">
            <div class="control">
                <label class="radio">
                    <input type="radio" name="question">
                    Yes
                  </label>
                <label class="radio">
                    <input type="radio" name="question">
                    No
                  </label>
            </div>
        </div>

        <div class="field is-grouped bottom">
            <div class="control">
                <button class="button is-success" id="signUpSubmit">Submit</button>
            </div>
            <div class="control">
                <button id="cancel" value="Cancel"><a href="/">Cancel</a></button>
            </div>
            <div class="control">
                <button id="clear-form" type="reload" value="Clear">Clear</button>
            </div>
            <div class="control">
                <button id="logout" value="Log Out"><a href="/">Log Out</a></button>
            </div>
        </div>
    </div>
    </div>
    <br>

