{{!-- <div class="navbar-start">

    </div>
    <div class="navbar-end">
        <a class="navbar-item title is-4" href="index.html">
                    Home
                    </a>

        <a class="navbar-item title is-4" href="">
               Our Services
        </a>
    </div>
    <hr> --}}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a  href="home" style="text-decoration: none !important;"><i class="w3-jumbo w3-spin fa fa-home is-size-1 is-pulled-right" style="color:black"></i></a>

            <h1 class="title is-3 is-blue">Diamond Services</h1>
            <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>

        </header>
        <center>
            <h1 class="title is-3 is-danger" style="color:black">Sign Up</h1>
        </center>
        <br>

        <div id='form'>

            <div class="field is-horizontal">
                <div class="field" id="fn">
                    <label class="label">FirstName</label>
                    <div class="control">
                        <input class="input is-primary" type="text" placeholder="Text input" value="">
                    </div>
                </div>
                <div class="field" id="ln">
                    <label class="label">LastName</label>
                    <div class="control">
                        <input class="input is-success" type="text" placeholder="Text input" value="">
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field" id="username">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Text input" value="">
                        <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                        <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                    </div>
                    <!-- <p class="help is-success">This username is available</p> -->
                </div>

                <div class="field" id='password'>
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                        <input class="input is-success" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field" id='address'>
                    <label class="label">Address</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Text input" value="">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                          </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                    </div>
                </div>

                <div class="field" id='city'>
                    <label class="label">City</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Text input" value="">
                        <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field" id='state'>
                    <label class="label">State</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Text input" value="">
                        <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                              </span>
                        <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                    </div>
                </div>

                <div class="field" id='zip'>
                    <label class="label">Zipcode</label>
                    <div class="control has-icons-left has-icons-right">
                        <p class="control is-expanded">
                            <input class="input is-success" type="tel" placeholder="zipcode">
                        </p>
                        <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                              </span>
                        <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field" id='email'>
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">

                        <input class="input is-success" type="email" placeholder="Email input" value="">
                        <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </div>
                    <!-- <p class="help is-danger">This email is invalid</p> -->
                </div>


                <div class="field" id='phone'>
                    <label class="label">Phone Number</label>
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                              +1
                            </a>
                            </p>
                            <p class="control is-expanded">
                                <input class="input is-success" type="tel" placeholder="Your phone number">
                            </p>
                        </div>
                        <p class="help">Do not enter the first zero</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="field bottom">
            <div class="control is-danger">
                <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
                  </label>
            </div>
        </div>

        <div class="field bottom">
            <div class="control">
                <label class="radio">
                    <input type="radio" name="question">
                    Yes
                  </label>
                <label class="radio">
                    <input type="radio" name="question">
                    No
                  </label>
            </div>
        </div>

        <div class="field is-grouped bottom">
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
            <div class="control">
                <button class="button is-text">Cancel</button>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <footer id="footer">
        <div style=" padding-top:25px;">
            <div class="container">
                <div class="footer-bottom clearfix" style="color:blue;width:100%; padding-bottom: 60px;">
                    <p class="copyright" style="font-size:1.2rem; font-weight:bold;">
                        Contact Us | FAQ
                        </li> | Diamond Service Call Center
                    </p>
                    <p class="copyright">&copy; Copyright 2018, Diamond Service. All Rights Reserved. | Terms of Use | Privacy Policy
                    </p>
                </div>
            </div>
        </div>
        <p>&copy; All rights reserved.</p>
    </footer>