 {{!-- <div class="navbar-start">

    </div>
    <div class="navbar-end" style="color:blue">
        <a class="navbar-item title is-4" href="#">
                    Home
                    </a>
        <a class="navbar-item title is-4" href="signIn.html">
                            Services
                    </a>
        <a class="navbar-item title is-4" href="signIn.html">
                Sign In
        </a>
    </div>
    <hr> --}}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1 class="title is-3">Diamond Services</h1>
            <span class="avatar"><img src="https://vignette.wikia.nocookie.net/steven-universe/images/7/75/20160305000536-diamond-1-.jpeg/revision/latest?cb=20160602164244" alt="" /></span>

        </header>

        <!-- Main -->
        <section id="main">

            <!-- Thumbnails -->
            <section class="thumbnails">
                <div>
                    <a>
                        <img src="https://data.si/wp-content/uploads/2017/08/urejanje-okolice.jpg" alt="" />
                        <h3>Lawn Mowing</h3>
                    </a>
                    <a href="images/fulls/02.jpg">
                        <img src="http://1.s.dziennik.pl/pliki/6760000/6760378-900-709.jpg" alt="" />
                        <h3>Child Care</h3>
                    </a>
                </div>
                <div>
                    <a>
                        <img src="http://s1.maminklub.lv/cache/a5/90/a590688e33ec0b1f33046f8cd8e1eda8.jpg" alt="" />
                        <h3>Maid Service</h3>
                    </a>
                    <a href="images/fulls/04.jpg">
                        <img src="http://sueonmusic.com/wp-content/uploads/2014/03/THanks.jpg" alt="" />
                        <h3>Music Classes</h3>
                    </a>

                </div>
                <div>
                    <a>
                        <img src="https://www.travelers.com/iw-images/resources/Weather/Large/snowblower_large.jpg" alt="" />
                        <h3>Snow Blowing</h3>
                    </a>
                    <a>
                        <img src="http://www.spottsgardens.com/wordpress/wp-content/uploads/2014/03/About_top_72.jpg" alt="" />
                        <h3>Gardening</h3>
                    </a>
                </div>
            </section>

        </section>
        <br>
        <center>
            <button class="button is-black title is-5"  ><a  href="services">SERVICES</a></button>
        </center>
    </div>
    <br>
    <hr>
    <!-- Footer -->
    <footer id="footer">
        <div style=" padding-top:25px;">
            <div class="container">
                <div class="footer-bottom clearfix" style="color:blue;width:100%; padding-bottom: 60px;">
                    <p class="copyright" style="font-size:1.2rem; font-weight:bold;">
                        Contact Us | FAQ
                        </li> | Diamond Service Call Center
                    </p>
                    <p class="copyright">&copy; Copyright 2018, Diamond Service. All Rights Reserved. | Terms of Use | Privacy Policy
                    </p>
                </div>
            </div>
        </div>
        <p>&copy; All rights reserved.</p>
    </footer>
